body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right,#4e5588fc, #a1a3a8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body main #footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

body main #footer #contri {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

body main #footer #contri a {
  text-decoration: none;
  color: black;
}
